.top .view {
  /*transition-delay: 0.5s;*/
  width: 100%;
  position: absolute;
  transition: left 0.75s, opacity 0.5s ease-in;
  transition-delay: left 0.75s, opacity 0.05s ease-in;
}


.top .view.ng-enter{
  left: 100%;
}

.top .view.ng-enter.ng-enter-active{
  left: 0%;
}

.top .view.ng-leave{
  opacity: 1;
}

.top .view.ng-leave.ng-leave-active{
  opacity: 0;
}


 /*Third animation*/
/*.top .view.ng-enter{
  opacity: 0;
}*/
