.header {
	width: 100%;
	padding: 20px;
}

.button a {
	float: right;
	padding: 10px;
	display: block;
	text-decoration: none;
	color: #fff;
	border: 2px solid #999;
	border-radius: 3px;
}

.button a:hover {
	color: #fff;
	border: 2px solid #000;
	transition: 2s;
}

.related {
	text-align: center;
	padding: 5em 0;
}

.related > a {
  width: calc(100% - 20px);
  max-width: 340px;
  /*border: 3px solid #f0f0f0;*/
  border-color: initial;
  display: inline-block;
  text-align: center;
  margin: 20px 10px;
  padding: 25px;
}

.related a img {
  max-width: 100%;
  opacity: 0.8;
}

.related a h3 {
  margin: 0;
  padding: 0.5em 0 0.3em;
  max-width: 300px;
  text-align: left;
}

.related p{
  font-size: 1em;
  color: #ccc;
}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

h1 {
	color: #ccc;
	text-align: center;
}

a {
  /*color: #ccc;*/
  text-decoration: none;
  outline: none;
}

/*Fun begins*/
.tab_container {
  right: 150px;
	/*width: 50%;*/
	margin: 10px auto auto auto;
	position: fixed;
}

input, section {
  clear: both;
  padding-top: 10px;
  display: none;
}

label {
  margin: 0px !important;
  text-transform: uppercase;
  font-size: 14px;
  display: block;
  float: left;
  max-width: 250px;
  padding: 4px 25px;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  background: transparent;
  height:47px;
	border-right: 1px solid #F5F5F5;
	border-left: 1px solid #F5F5F5;
}

label .fa {
  color: #66757f;
}

label .fa:hover {
  /*color: #F5F5F5;*/
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5 {
  display: block;
  padding: 20px;
  background: transparent;
  color: #999;
}

.tab_container .tab-content p,
.tab_container .tab-content h3 {
  -webkit-animation: fadeInScale 0.7s ease-in-out;
  -moz-animation: fadeInScale 0.7s ease-in-out;
  animation: fadeInScale 0.7s ease-in-out;
}
.tab_container .tab-content h3  {
  text-align: center;
}

.tab_container [id^="tab"]:checked + label {
  background: transparent;
  color: #66757f;
  box-shadow: inset 0 -3px #2ecc71;
}

.tab_container [id^="tab4"]:checked + label {
  background: transparent;
  color: #fff;
  box-shadow: inset 0 -3px #2ecc71;
}

.tab_container [id^="tab"]:checked + label .fa {
  color: #66757f;
}

.tab_container .active {
  background-color: pink;
}

/*Media query*/
@media only screen and (max-width: 770px) {

	#nav-tools {
		top: 5px;
		margin-top: 3px;
		position: absolute;
		right: 10px;
	}

  .tab_container label {
		width: 50% !important;
		color: #363636;
  }

.tab_container 	label .fa-plus-circle {
	display: none;
}

.tab_container {
  left: 0;
  width: 100%;
	height: 47px;
	margin:0px!important;
  bottom: 0;
	color:#363636;
  background-color: #fff !important;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

  label .fa, label .fa:hover {
		color: #363636;
		cursor: pointer;
  }

}

@media only screen and (max-width: 468px) {
  label span, label i .fa .fa-plus-circle {
    display: none;
  }

  .tab_container {
    width: 100%;
  }
}

/*Content Animation*/
@keyframes fadeInScale {
  0% {
  	transform: scale(0.9);
  	opacity: 0;
  }

  100% {
  	transform: scale(1);
  	opacity: 1;
  }
}


/*Profile*/
/* USER PROFILE PAGE */
 .card {
    margin-top: 20px;
    padding: 30px;
    background-color: rgba(214, 224, 226, 0.2);
    -webkit-border-top-left-radius:5px;
    -moz-border-top-left-radius:5px;
    border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-top-right-radius:5px;
    border-top-right-radius:5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 1);
}
.card.hovercard .card-background {
    height: 130px;
}
.card-background img {
    -webkit-filter: blur(25px);
    -moz-filter: blur(25px);
    -o-filter: blur(25px);
    -ms-filter: blur(25px);
    filter: blur(25px);
    margin-left: -100px;
    margin-top: -200px;
    min-width: 130%;
}
.card.hovercard .useravatar {
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
}
.card.hovercard .useravatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
}
.card.hovercard .card-info {
    position: absolute;
    bottom: 14px;
    left: 0;
    right: 0;
}
.card.hovercard .card-info .card-title {
    padding:0 5px;
    font-size: 20px;
    line-height: 1;
    color: #262626;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.card.hovercard .card-info {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}
.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}
.btn-pref .btn {
    -webkit-border-radius:0 !important;
}

.nav-tabs .active {
	background-color:#2ecc71;
}
