<div class="modal fade" id="offModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="panel panel-info title">

        <div class="panel-heading title"  style="background-color:#fff; color:#363636; border:1px solid transparent;">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="panel-title">Pick Up Call</h3>
        </div>

        <div class="panel-body">
          <form ng-submit="makeOffer()">
            <textarea type="paragraph" ng-model="$parent.total" class="form-control" placeholder="How can you help?" required ng-disabled="$parent.block" />
              <input type="file"  id="imgupload" onchange="angular.element(this).scope().previewImage(this,'offer');"/>
            <img id='offerimg' style="width: 80px;height: 80px;float: left;" alt=""/>
            <input type="submit" value="Offer Now" class="btn btn-info" ng-disabled="$parent.block" />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
