
<div id="content1" class="tab-content">
	<div>
	<!-- Left col -->
	<div class="col-sm-2" style="margin-bottom:15px;">
		<div id="card">
			<p>Reccomended for you</p>
			<img src="images/browse.jpg" class="img-responsive img-browse">
			<p>Uber has donated $30,000 in the month of January to fight hunger. <a style="text-decoration:underline; color:#3498db;">Join them.</a></p>
		</div>
	</div>

	<!-- Center Col -->
	<div class="col-sm-8">
		<div class="list-group" id="">
			<h3>Open Calls for Help</h3>
					<!-- SEARCH TOOL -->
					<div class="form-group" id="card" style="background-color:#fff;">
						<div class="input-group">
							<div class="input-group-addon">
								<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
							</div>
				      <input style="height:40px; border:1px solid transparent !important;" type="text" ng-model="searchTask" class="form-control" placeholder="Search these Headlines">
				    </div>
					</div>

					<!-- <a data-toggle="modal" data-target="#posModal" style="cursor:pointer;">
						<div class="btn btn-primary" style="padding:auto 0px !important;">
							<div class="call-for-help col-xs-2" style=" margin:0px;text-align:center;">
								<i style="color:#fff;" class="fa fa-plus-circle" aria-hidden="true"></i>
							</div>
							<div class="col-xs-8 hidden-sm hidden-xs hidden-md" style=" margin:0px;">
								<text>Call for Help</text>
							</div>
						</div>
					</a> -->

					<!-- TASK LIST -->
					<a ng-repeat="task in tasks | filter: {title: searchTask , status: 'open'} | orderBy: 'datetime':true" ng-href="#/browsedetails/{{task.$id}}">
						<div id="card" class="list-item row" style="margin-bottom:0px !important;">
							<div class="col-xs-4" style="padding:0px !important; max-width:100px !important;">
								<img class="" style="max-width:70px;" ng-src="{{task.gravatar}}">
							</div>
							<div class="col-xs-8">
								<p id="subheader"><span class="label status {{task.status}}">{{task.status}}</span> Category: {{task.help_type}}</p>
								<p id="subheader">Posted by {{task.name}} <span am-time-ago="task.datetime"></span></p>
								<p style="color:#222222;">{{task.title}}: {{task.description | limitTo:100}}{{ task.title.length > 100? "..." : ""}}</p>
							</div>
						</div>
			    	</a>

	<div class="col-sm-2 hidden-sm"></div>

	</div>
	<div ng-include="'views/partials/edit.html'"></div>
	<div ng-include="'views/partials/offer.html'"></div>
</div>
