<div class="col-sm-9 main" ng-controller="BrowseController" style="margin:0px!important;padding:0px !important;" id="browse-map">
	<ng-map zoom="14"
		map-type-control-options="{style:'HORIZONTAL_BAR', position:'TOP_CENTER'}"
		center="current-position"
		zoom="12"
		pan-control="true"
		pan-control-options="{position:'TOP_RIGHT'}"
		map-type-control="true"
		zoom-control="true"
		zoom-control-options="{style:'LARGE', position:'LEFT_BOTTOM'}"
		scale-control="true"
		street-view-control="true"
		street-view-control-options="{position:'LEFT_BOTTOM'}">

		<marker
				ng-repeat="task in tasks | filter: {title: searchTask , status: 'open' }"
				position="{{task.pos}}"
				title="{{task.name}}"
				icon="images/pinlogo-small.svg"
				id="{{$index}}"
				on-click="handleMapPins(event, task)">
		</marker>

		<info-window id="myInfoWindow">
			<div ng-non-bindable style="height:120px; width:200px;">
				<b><p>{{ selectedCity.title | limitTo:39}}{{ selectedCity.title.length > 39? "..." : ""}}</p></b>
				<p id="subheader">Posted <span am-time-ago="selectedCity.datetime"></span></p>
				<a class="btn-sm btn-primary" href="#/browsedetails/{{selectedCity.$id}}">View Call For Help</a>
			</div>
		</info-window>

	</ng-map>
</div>

	<!-- Right Col -->

	<!-- <div ng-show="listMode">
			<h2>Hey</h2>
	</div>
	<div ng-show="!listMode">
		<div ng-include="'views/browsedetails.html'"></div>
  </div> -->

	<div ng-include="'views/partials/edit.html'"></div>
	<div ng-include="'views/partials/offer.html'"></div>

<script>

</script>
