<img src="images/browse.jpg" style="width:100%;" />

<div class="action">
	<div class="list-group" id="">
		<div class="row">
			<a ng-href="/#/callforhelp">
				<div class="col-xs-6">
					<i class="fa fa-bullhorn" aria-hidden="true"></i>
					<p>GET HELP</p>
				</div>
			</a>
			<a ng-href="#/">
				<div class="col-xs-6">
					<i class="fa fa-share-alt" aria-hidden="true"></i>
					<p>SHARE</p>
				</div>
			</a>
			<!-- <a ng-click="activeTab = 'picked-up'" href="">
				<div class="col-xs-3">
					<i class="fa fa-paper-plane" aria-hidden="true"></i>
					<p>SEND</p>
				</div>
			</a>
			<a ng-click="activeTab = 'calls-placed'" href="" ng-class="{ active: activeTab === 'calls-placed' }">
				<div class="col-xs-3">
					<i class="fa fa-bullhorn" aria-hidden="true"></i>
					<p>PLACED</p>
				</div>
			</a> -->
		</div>
	</div>
</div>

<div id="content1" class="tab-content">
							<!-- SEARCH TOOL -->
							<div class="form-group" id="card" style="background-color:#fff;">
								<div class="input-group">
									<div class="input-group-addon">
										<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
									</div>
									<input style=" border:0px solid transparent !important;" type="text" ng-model="searchTask" class="form-control" placeholder="SEARCH">
								</div>
							</div>
							<!-- TABS -->
							<div class="panel-body" style="padding:0px;">
									<ul class="nav nav-tabs" ng-init="activeTab = 'picked-up'" style="background-color:#fff; color:#66757f; text-align:center;">
											<li class="col-xs-6" ng-class="{ active: activeTab === 'picked-up' }">
													<a ng-click="activeTab = 'picked-up'" href="" style="color:#363636 !important;">ASSIGNED</a>
											</li>
											<li class="col-xs-6" ng-class="{ active: activeTab === 'calls-placed' }">
													<a ng-click="activeTab = 'calls-placed'" href="" style="color:#363636 !important;">MY CALLS</a>
											</li>
											<!-- <li ng-class="{ active: activeTab === 'ratings' }">
													<a ng-click="activeTab = 'ratings'" href="">Ratings</a>
											</li> -->
									</ul>

									<!-- TABS -->
									<div class="tab-content" style="padding-top:10px;">
											<div class="tab-pane" ng-class="{ active: activeTab === 'calls-placed' }">
												<a ng-repeat="task in tasks | filter: {title: searchTask , poster:user.uid , status: 'open' && 'assigned' } | orderBy: 'datetime':true" ng-href="#/browsedetails/{{task.$id}}" style="color: #66757f !important;">
													<div id="" class="list-item row" style="margin-bottom:0px;">
														<div class="col-xs-3">
															<img style="width:100%;" ng-src="{{task.gravatar}}">
														</div>
														<div class="col-xs-9">
															<p id="subheader">Posted by {{task.name}} <span am-time-ago="task.datetime"></span></p>
															<p id="subheader"><span class="label status {{task.status}}">{{task.status}}</span> Category: {{task.help_type}}</p>
															<p style="color:#363636;">{{task.title}}</p>
														</div>
													</div>
													<hr>
												</a>
												<p><div class="title" ng-hide="tasks && tasks.length > 0">
	                        <p>You have not placed a call for help as of yet.</p>
													<a class="btn-sm btn-primary" href="/#/callforhelp" style="cursor:pointer">Place a call for help now.</a>
	                      </div></p>
											</div>

											<div class="tab-pane" ng-class="{ active: activeTab === 'picked-up' }">
												<a ng-repeat="task in tasks | filter: {title: searchTask , runner:user.uid  , status: 'assigned' } | orderBy: 'datetime':true" ng-href="#/browsedetails/{{task.$id}}">
													<div id="" class="list-item row" style="margin-bottom:0px !important;">
														<div class="col-xs-3">
															<img style="width:100%;" ng-src="{{task.gravatar}}">
														</div>
														<div class="col-xs-9">
															<p id="subheader">Posted by {{task.name}} <span am-time-ago="task.datetime"></span></p>
															<p id="subheader"><span class="label status {{task.status}}">{{task.status}}</span> Category: {{task.help_type}}</p>
															<p style="color:#363636;">{{task.title}}</p>
														</div>
													</div>
													<hr>
												</a>
												<p><div class="title" ng-hide="tasks && tasks.length > 0">
	                        <span>You have picked up any calls for help yet. Find a neighbor on the map and offer to help today!</span>
	                      </div></p>
											</div>
											<!-- <div class="tab-pane" ng-class="{ active: activeTab === 'ratings' }">
												Ratings tab content.
											</div> -->
									</div>

			</div>

	</div>

	<div class="col-sm-0"></div>

	</div>
	<div ng-include="'views/partials/edit.html'"></div>
	<div ng-include="'views/partials/offer.html'"></div>
</div>
