
<div id="content1" class="tab-content">
	<div>
	<!-- Left col -->
	<div class="col-md-2">

	</div>

	<!-- Center Col -->
	<div class="col-md-8">
		<div class="list-group" id="">
			<h3>Active Calls</h3>
					<!-- SEARCH TOOL -->
					<div class="form-group" id="card" style="background-color:#fff;">
						<div class="input-group">
							<div class="input-group-addon">
								<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
							</div>
				      <input style="height:40px; border:1px solid transparent !important;" type="text" ng-model="searchTask" class="form-control" placeholder="Search these Headlines">
				    </div>
					</div>

					<!-- TABS -->
							<div class="panel-body" style="padding:0px;">
									<ul class="nav nav-tabs" ng-init="activeTab = 'calls-placed'" style="background-color:#363636; color:#363636;">
											<li ng-class="{ active: activeTab === 'calls-placed' }">
													<a ng-click="activeTab = 'calls-placed'" href=""><i class="fa fa-life-ring" style="color:#fff;"></i> Placed Calls</a>
											</li>
											<li ng-class="{ active: activeTab === 'picked-up' }">
													<a ng-click="activeTab = 'picked-up'" href=""><i class="fa fa-hand-paper-o" style="color:#fff;"></i> Picked Up Calls</a>
											</li>
											<!-- <li ng-class="{ active: activeTab === 'ratings' }">
													<a ng-click="activeTab = 'ratings'" href="">Ratings</a>
											</li> -->
									</ul>
									<!-- TABS -->
									<div class="tab-content">
											<div class="tab-pane" ng-class="{ active: activeTab === 'calls-placed' }">
												<a ng-repeat="task in tasks | filter: {title: searchTask , poster:user.uid , status: '!completed' } | orderBy: 'datetime':true" ng-href="#/browsedetails/{{task.$id}}">
													<div id="card" class="list-item row" style="margin-bottom:0px !important;">
														<div class="col-xs-4" style="padding:0px !important; max-width:100px !important;">
															<img class="" style="max-width:70px;" ng-src="{{task.gravatar}}">
														</div>
														<div class="col-xs-8">
															<p id="subheader"><span class="label status {{task.status}}">{{task.status}}</span> Category: {{task.help_type}}</p>
															<p id="subheader">Posted by {{task.name}} <span am-time-ago="task.datetime"></span></p>
															<p style="color:#222222;">{{task.title}}: {{task.description | limitTo:100}}{{ task.title.length > 100? "..." : ""}}</p>
														</div>
													</div>
												</a>
											</div>
											<div class="tab-pane" ng-class="{ active: activeTab === 'picked-up' }">
												<a ng-repeat="task in tasks | filter: {title: searchTask , runner:user.uid  , status: '!completed' } | orderBy: 'datetime':true" ng-href="#/browsedetails/{{task.$id}}">
													<div id="card" class="list-item row" style="margin-bottom:0px !important;">
														<div class="col-xs-4" style="padding:0px !important; max-width:100px !important;">
															<img class="" style="max-width:70px;" ng-src="{{task.gravatar}}">
														</div>
														<div class="col-xs-8">
															<p id="subheader"><span class="label status {{task.status}}">{{task.status}}</span> Category: {{task.help_type}}</p>
															<p id="subheader">Posted by {{task.name}} <span am-time-ago="task.datetime"></span></p>
															<p style="color:#222222;">{{task.title}}: {{task.description | limitTo:100}}{{ task.title.length > 100? "..." : ""}}</p>
														</div>
													</div>
												</a>
											</div>
											<!-- <div class="tab-pane" ng-class="{ active: activeTab === 'ratings' }">
												Ratings tab content.
											</div> -->
									</div>

			</div>

	</div>

	<div class="col-md-2"></div>

	</div>
	<div ng-include="'views/partials/edit.html'"></div>
	<div ng-include="'views/partials/offer.html'"></div>
</div>
