<div class="navbar navbar-info" ng-controller="NavController" navbar-fixed-top>
  <div class="container-fluid" style="margin:0px auto;">
    <div class="navbar-header pull-left">
      <a class="navbar-brand" href="#/">
      <span class=""><img style="height:45px;" src="images/pinlogo.svg"></img><span class="hidden-xs">neighbo</span></span>
      </a>
    </div>
    <ul ng-show="signedIn()" class="nav navbar-nav navbar-right pull-right" style="">
      <li class=""><a ng-href="#/"><i class="fa fa-home" aria-hidden="true"></i></a></li>
      <li class=""><a ng-href="#/"><i class="fa fa-bell" aria-hidden="true"></i></a></li>
      <li class="hidden-xs"><a href=""><i class="fa fa-comments" aria-hidden="true"></i></a></li>
      <li class="hidden-sm hidden-md hidden-lg hidden-xl"><a href="#/map"><i class="fa fa-globe" aria-hidden="true"></i></a></li>
      <!-- <li class=""><a ng-href="/#/callforhelp"><i class="fa fa-plus-circle" aria-hidden="true"></i></a></li> -->
      <li class="dropdown">
        <button class="dropdown-toggle profile-image" type="button" data-toggle="dropdown" >
          <p class="hidden" style="display: inline">Hey {{currentUser.name || currentUser.facebook.cachedUserProfile.name.split(' ')[0]}}!</p>
          <img ng-src="{{currentUser.profile.gravatar}}" class="img-circle gravatar">
        </button>
        <ul class="dropdown-menu dropdown-menu-right" style="position:absolute; background-color:#fff; right:10px;">
          <li><a ng-href="#/profile/{{currentUser.uid}}">My Profile</a></li>
          <li><a href="#" ng-click="logout()">Logout</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>

  <!-- <div ng-show="signedIn()" ng-include="'views/partials/changepass.html'"></div> -->
