<div id="content1" class="tab-content">
    <h1>Profile Page</h1>
    <table class="center-block">
        <tr>
            <td style="width: 200px;"><h2>Profile Picture</h2></td>
            <td style="width: 300px;"><h2>Display Name</h2></td>
            <td ng-hide="userId" style="width: 300px;"><h2>Facebook Profile</h2></td>
        </tr>
        <tr>
            <td><img ng-src="{{userId?userProfile.gravatar:user.facebook.profileImageURL}}" alt="user.facebook.cachedUserProfile.name"/></td>
            <td><h4 style="display: inline;" ng-bind="userId?userProfile.name:user.facebook.cachedUserProfile.name"></h4></td>
            <td><a ng-hide="userId" ng-href="{{user.facebook.cachedUserProfile.link}}" target="_blank">Facebook Profile</a></td>
        </tr>
    </table>
    <!-- TASK LIST -->
    <a ng-repeat="task in tasks | filter: {title: searchTask , poster:userId } | orderBy: 'datetime':true" ng-href="#/browsedetails/{{task.$id}}">
      <div id="card"  class="{{task.help_type}} row" style="margin-bottom:15px !important;">
        <div class="col-xs-4" style="border-right:1px solid #eee; padding:0px !important; max-width:100px !important;">
          <img class="" ng-src="{{task.gravatar}}">
        </div>
        <div class="col-xs-8" style="color:#747474;">
          <h3 class="list-description" style="color:#222222;">{{task.title}}</h3>
          <p id="subheader">Posted by {{task.name}} <span am-time-ago="task.datetime"></span></p>
          <p id="subheader"><span class="label status {{task.status}}">{{task.status}}</span> Category: {{task.help_type}}</p>
          <!-- <p>{{task.description | limitTo:100}}{{ task.title.length > 100? "..." : ""}}</p> -->
        </div>
      </div>
    </a>
</div>
